.campoForm{
    position: relative;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    display: inline-block;
}
.mensaje{
    color: red;
}
table, th, td {
   border: 1px solid black;
}